Repository trycourier/courier-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: types, lint, prettier

types:
  run: npx tsc --noEmit

lint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

Update README.md
  README.md
Due: none

Refreshing update
  android/src/main/java/com/courierreactnative/CourierSharedModule.kt
  example/src/pages/inbox/InboxCustom.tsx
  ios/CourierSharedModule.swift
  src/index.tsx
Due: lint, prettier

Icon support
  android/src/main/java/com/courierreactnative/CourierInboxViewManager.kt
  example/android/app/src/main/res/drawable/icon_archive.xml
  example/android/app/src/main/res/drawable/icon_check.xml
  example/android/app/src/main/res/drawable/icon_undo.xml
  example/ios/CourierReactNativeExample/Images.xcassets/Contents.json
  example/ios/CourierReactNativeExample/Images.xcassets/icon_archive.imageset/Contents.json
  example/ios/CourierReactNativeExample/Images.xcassets/icon_archive.imageset/archive.pdf
  example/ios/CourierReactNativeExample/Images.xcassets/icon_check.imageset/Contents.json
  example/ios/CourierReactNativeExample/Images.xcassets/icon_check.imageset/icon_check.pdf
  example/ios/CourierReactNativeExample/Images.xcassets/icon_undo.imageset/Contents.json
  example/ios/CourierReactNativeExample/Images.xcassets/icon_undo.imageset/icon_undo.pdf
  example/ios/Podfile.lock
  example/src/pages/Styles.tsx
  example/src/pages/inbox/InboxStyled.tsx
  ios/CourierInboxReactNativeManager.swift
  src/index.tsx
  src/utils.tsx
  src/views/CourierInboxView.tsx
Due: lint, prettier

🚀 5.4.0
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

Swap example styled icons
  example/src/pages/inbox/InboxStyled.tsx
  ios/CourierInboxReactNativeManager.swift
Due: lint, prettier

Update Inbox.md
  Docs/Inbox.md
Due: none

🚀 5.4.1
  android/build.gradle
  android/src/main/java/com/courierreactnative/Utils.kt
  example/src/pages/inbox/InboxStyled.tsx
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: lint, prettier

🚀 5.4.2
  android/build.gradle
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

🚀 5.4.2
  courier-react-native.podspec
  example/ios/Podfile.lock
Due: none

🚀 5.4.3
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

Running
  CONTRIBUTING.md
  example/.watchman-cookie-Michaels-MacBook-Pro-2.local-1499-3109
  example/.watchman-cookie-Michaels-MacBook-Pro-2.local-2367-2495
  example/ios/.xcode.env.local
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/PrivacyInfo.xcprivacy
  example/metro.config.js
  example/package.json
  example/src/pages/inbox/InboxDefault.tsx
  example/yarn.lock
  package.json
Due: types, lint, prettier

InboxMessage actions
  courier-react-native.podspec
  example/ios/Podfile.lock
  example/src/pages/inbox/InboxCustom.tsx
  example/src/pages/inbox/InboxDefault.tsx
  example/src/pages/inbox/InboxStyled.tsx
  ios/CourierReactNativeModule.m
  ios/CourierSharedModule.swift
  src/index.tsx
  src/models/CourierInboxListener.tsx
  src/models/InboxAction.tsx
  src/models/InboxMessage.tsx
  src/models/InboxMessageEvent.tsx
  src/models/InboxMessageFeed.tsx
  src/models/InboxMessageSet.tsx
  src/views/CourierInboxView.tsx
Due: lint, prettier

Android working
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/src/main/java/com/courierreactnative/CourierSharedModule.kt
  example/android/app/build.gradle
  example/android/app/src/main/java/com/courierreactnativeexample/MainApplication.java
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/settings.gradle
  example/package.json
  example/src/pages/inbox/InboxDefault.tsx
  example/yarn.lock
  package.json
  src/models/InboxMessageSet.tsx
Due: lint, prettier

Expo ios files
  courier-react-native.podspec
  example/ios/Podfile.lock
  ios/CourierExpoDelegate.h
  ios/CourierExpoDelegate.m
Due: none

Dropped expo files
  ios/CourierExpoDelegate.h
  ios/CourierExpoDelegate.m
Due: none

🚀 5.5.0
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

🚀 5.5.1
  android/gradle.properties
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  android/src/main/java/com/courierreactnative/CourierSharedModule.kt
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

🚀 5.5.2
  android/src/main/java/com/courierreactnative/CourierSharedModule.kt
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

Expo doc
  Docs/1_Authentication.md
  Docs/2_Inbox.md
  Docs/3_PushNotifications.md
  Docs/4_Preferences.md
  Docs/5_Client.md
  Docs/6_Expo.md
  README.md
Due: none

Expo docs update
  Docs/6_Expo.md
  README.md
Due: none

Update 6_Expo.md
  Docs/6_Expo.md
Due: none

Android push event updates
  android/build.gradle
  android/src/main/java/com/courierreactnative/CourierReactNativeActivity.kt
  android/src/main/java/com/courierreactnative/CourierSystemModule.kt
  example/src/pages/Tests.tsx
Due: lint, prettier

🚀 5.5.3
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

Notification style updates to ios
  android/src/main/java/com/courierreactnative/CourierSystemModule.kt
  ios/CourierReactNativeDelegate.m
Due: none

🚀 5.5.4
  android/src/main/java/com/courierreactnative/Utils.kt
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/ios/CourierReactNativeExample/Info.plist
  example/ios/CourierService/Info.plist
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

🚀 5.5.5
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

🚀 5.5.6
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

🚀 5.5.7
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

🚀 5.5.8
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
  src/index.tsx
Due: lint, prettier

🚀 5.5.9
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  ios/CourierSystemModule.swift
  package-lock.json
  package.json
  src/index.tsx
Due: lint, prettier

Update courier sdks
  android/build.gradle
  courier-react-native.podspec
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
Due: none

Add a method to set isUItestsActive
  android/src/main/java/com/courierreactnative/ReactNativeModule.kt
  ios/CourierClientModule.swift
  src/index.tsx
Due: lint, prettier

Init
  android/build.gradle
  courier-react-native.podspec
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  ios/CourierPreferencesReactNativeManager.swift
Due: none

🚀 5.6.0
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

Path conditions:
  types: any of: *.{js,ts, jsx, tsx}
  lint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx}
