Repository trycourier/courier-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: types, lint, prettier

types:
  run: npx tsc --noEmit

lint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

ci(package.json): update commitizen and commitlint
  package.json
  yarn.lock
Due: none

fix(lefthook): fix prettier formatting command
  lefthook.yml
Due: none

fix(test): add addListener and removeListeners mock
  src/__mocks__/native-module-bridge.js
Due: types, lint, prettier

chore(courier): update native sdk version to 1.1.1 :package:
  .gitignore
  android/build.gradle
  courier-react-native.podspec
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
Due: none

chore: cleanup
  example/ios/Podfile.lock
  package.json
  release.sh
Due: none

feat(add apns fcm providers ui): add apns fcm providers ui
  example/src/App.tsx
  example/src/utils/constants.ts
Due: types, lint, prettier

fix(add space around and): fix typo, add space around and
  example/src/App.tsx
Due: lint, prettier

feat(signin): take userId from user
  example/src/App.tsx
  example/src/components/UserInputModal.tsx
Due: lint, prettier

refactor: generic lists
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/src/App.tsx
  example/src/components/IosForeGroundPreferencesComponent.tsx
  example/src/components/List.tsx
  example/src/utils/constants.ts
Due: types, lint, prettier

refactor: cleanup
  example/src/App.tsx
  example/src/components/List.tsx
Due: lint, prettier

refactor(userid): resolve merge conflict
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/src/App.tsx
  example/src/components/IosForeGroundPreferencesComponent.tsx
  example/src/components/List.tsx
  example/src/utils/constants.ts
Due: types, lint, prettier

fix(usrinputmodal): fix inputbox text color
  example/src/components/UserInputModal.tsx
Due: lint, prettier

feat: text
  example/src/components/UserInputModal.tsx
Due: lint, prettier

feat: name change
  example/android/app/src/main/res/values/strings.xml
  example/ios/CourierReactNativeExample/Info.plist
Due: none

feat: name
  example/android/app/src/main/res/values/strings.xml
  example/ios/CourierReactNativeExample/Info.plist
Due: none

fix(ios): fix debug warning
  ios/CourierReactNative.swift
Due: none

feat: merge
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/ios/GoogleService-Info.plist
  ios/CourierReactNative.swift
Due: none

feat: release
  package.json
Due: none

fix(ios): add serObserver for debugLister
  ios/CourierReactNative.swift
Due: none

fix(ios): move debugListener to startObserving
  ios/CourierReactNative.swift
Due: none

fix(ios): change addEventListener order
  src/index.ts
Due: types, lint, prettier

feat: debug listener adjustments
  package.json
  release.sh
Due: none

refactor(ios): remove isProduction prop
  README.md
  courier-react-native.podspec
  example/ios/Podfile.lock
  example/src/App.tsx
  ios/CourierReactNative.m
  ios/CourierReactNative.swift
  src/__tests__/index.test.js
  src/index.ts
Due: types, lint, prettier

chore(android): remove providers :fire:
  android/build.gradle
  android/src/main/java/com/courierreactnative/CourierReactNativeModule.kt
Due: none

feat: cleanup
  package.json
Due: none

chore(android): update android sdk version
  android/build.gradle
  example/android/build.gradle
Due: none

feat: integration for new base sdk versions
  CourierInboxManager.m
  README.md
  android/build.gradle
  android/src/main/java/com/courierreactnative/CourierReactNativeModule.kt
  courier-react-native.podspec
  example/@types/env.d.ts
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/ios/File.swift
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/components/UserInputModal.tsx
  example/yarn.lock
  ios/CourierReactNative.m
  ios/CourierReactNative.swift
  ios/CourierReactNativeDelegate.m
  package.json
  src/components/CourierInbox.tsx
  src/index.ts
Due: types, lint, prettier

feat: changes
  example/src/App.tsx
  src/components/CourierInbox.tsx
Due: lint, prettier

More linter things removed
  lefthook.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

Lint removed
  package.json
Due: none

Backup
  .eslintrc.json
  .prettierrc.json
  courier-react-native.podspec
  example/ios/Podfile.lock
  example/src/App.tsx
  ios/CRNViewManager.m
  ios/CourierReactNative.xcodeproj/project.pbxproj
  ios/CourierReactNativeDelegate.m
  package-lock.json
  package.json
  src/components/CourierInbox.tsx
  src/index.ts
  yarn.lock
Due: types, lint, prettier

Init
  courier-react-native.podspec
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/ios/CourierReactNativeExample.xcworkspace/contents.xcworkspacedata
  example/ios/CourierReactNativeExample.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/src/App.tsx
  example/yarn.lock
  ios/CourierReactNative-Bridging-Header.h
  ios/CourierReactNativeModule.m
  ios/CourierReactNativeModule.swift
  package.json
  src/index.tsx
  yarn.lock
Due: lint, prettier

Android Updates
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/src/main/java/com/courierreactnative/CourierReactNativeActivity.kt
  android/src/main/java/com/courierreactnative/CourierReactNativeModule.kt
  android/src/main/java/com/courierreactnative/CourierReactNativePackage.kt
  android/src/main/java/com/courierreactnative/CourierReactNativeViewManager.kt
  example/android/app/src/main/java/com/courierreactnativeexample/MainActivity.java
  example/android/build.gradle
  example/src/App.tsx
  ios/CourierReactNativeViewManager.m
  ios/CourierReactNativeViewManager.swift
  src/index.tsx
Due: lint, prettier

Inbox themes for iOS
  android/src/main/java/com/courierreactnative/CourierReactNativeViewManager.kt
  example/src/App.tsx
  ios/CourierReactNativeViewManager.m
  ios/CourierReactNativeViewManager.swift
  src/index.tsx
  src/models/CourierInboxTheme.tsx
  src/views/CourierInboxView.tsx
Due: lint, prettier

Native view callbacks
  example/src/App.tsx
  ios/CourierReactNativeViewManager.m
  ios/CourierReactNativeViewManager.swift
  src/models/InboxAction.tsx
  src/models/InboxMessage.tsx
  src/views/CourierInboxView.tsx
Due: lint, prettier

Example app navigation
  example/ios/Podfile.lock
  example/package-lock.json
  example/package.json
  example/src/App.tsx
  example/src/Navigation.tsx
  example/src/pages/InboxDefault.tsx
  example/src/pages/InboxStyled.tsx
  example/yarn.lock
Due: lint, prettier

Read All Messages
  example/src/Navigation.tsx
  example/src/pages/InboxDefault.tsx
  example/src/pages/InboxStyled.tsx
  ios/CourierReactNativeModule.m
  ios/CourierReactNativeModule.swift
  src/index.tsx
Due: lint, prettier

Inbox listener
  example/src/Navigation.tsx
  example/src/pages/InboxCustom.tsx
  ios/CourierReactNativeModule.m
  ios/CourierReactNativeModule.swift
  ios/CourierReactNativeViewManager.swift
  src/index.tsx
  src/models/CourierInboxListener.tsx
Due: lint, prettier

Path conditions:
  types: any of: *.{js,ts, jsx, tsx}
  lint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx}
