Repository trycourier/courier-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: types, lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    testing:
      run: npm test
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc --noEmit
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    prettier:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --check {staged_files}

prepare-commit-msg:
  commands:
    commitzen:
      interactive: true
      run: LEFTHOOK=0 yarn cz # otherwise we fall into endless recursion

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

Add Expo app test triggers
  .github/workflows/workflow.yml
Due: none

Update workflow.yml
  .github/workflows/workflow.yml
Due: none

Adds tests on pull request
  .github/workflows/workflow.yml
Due: none

Update 2_Inbox.md
  Docs/2_Inbox.md
Due: none

🚀 5.6.15
  android/build.gradle
  android/src/main/java/com/courierreactnative/Utils.kt
  example/src/pages/inbox/InboxDefault.tsx
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: lint, prettier

Fix
  android/gradle/wrapper/gradle-wrapper.properties
  android/src/main/java/com/courierreactnative/CourierReactNativeActivity.kt
  src/index.tsx
Due: lint, prettier

🚀 5.6.16
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

🚀 5.6.17
  android/gradle/wrapper/gradle-wrapper.properties
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

Add AUTO-GENERATED-OVERVIEW markers to README
  README.md
Due: none

Add deprecation notices to Docs/ and update README links
  Docs/1_Authentication.md
  Docs/2_Inbox.md
  Docs/3_PushNotifications.md
  Docs/4_Preferences.md
  Docs/5_Client.md
  Docs/6_Expo.md
  README.md
Due: none

feat: add EU endpoint presets to React Native SDK
  Docs/1_Authentication.md
  Docs/5_Client.md
  README.md
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  android/src/main/java/com/courierreactnative/CourierSharedModule.kt
  android/src/main/java/com/courierreactnative/Utils.kt
  babel.config.js
  ios/CourierClientModule.swift
  ios/CourierReactNativeModule.m
  ios/CourierSharedModule.swift
  ios/Utils.swift
  package.json
  src/CourierApiUrls.tsx
  src/__tests__/api-urls.test.tsx
  src/__tests__/index.test.tsx
  src/client/CourierClient.tsx
  src/index.tsx
Due: types, lint, prettier

feat: add EU endpoint presets to React Native SDK
  .github/workflows/workflow.yml
  Docs/1_Authentication.md
  Docs/5_Client.md
  README.md
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  android/src/main/java/com/courierreactnative/CourierSharedModule.kt
  android/src/main/java/com/courierreactnative/Utils.kt
  babel.config.js
  ios/CourierClientModule.swift
  ios/CourierReactNativeModule.m
  ios/CourierSharedModule.swift
  ios/Utils.swift
  package.json
  src/CourierApiUrls.tsx
  src/__tests__/api-urls.test.tsx
  src/__tests__/index.test.tsx
  src/client/CourierClient.tsx
  src/index.tsx
Due: types, lint, prettier

docs: sync README from mintlify-docs (2026-03-23 19:10 UTC)
  README.md
Due: none

feat: redesign auth page, add deploy workflow, update CI
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/workflow.yml
  example/package.json
  example/src/AuthPreferences.ts
  example/src/CourierEnvironment.ts
  example/src/Home.tsx
  example/src/Utils.tsx
  example/src/pages/Auth.tsx
  example/yarn.lock
Due: types, lint, prettier

chore: clean up scripts to match iOS repo pattern
  scripts/bootstrap.js
  scripts/build_demo_app.sh
  scripts/bump_version.sh
  scripts/git_release.sh
  scripts/hermes_fix.sh
  scripts/install_homebrew.sh
  scripts/release_npm_package.sh
  scripts/update_native_module_version.sh
  scripts/update_pods.sh
  scripts/update_version.sh
Due: types, lint, prettier

chore: add .vscode/launch.json with script and device launch configs
  .vscode/launch.json
Due: none

chore: stop gitignoring .vscode directory
  .gitignore
Due: none

chore: remove obsolete test trigger workflow
  .github/workflows/workflow.yml
Due: none

fix: remove .yarnrc that referenced deleted bootstrap.js
  .yarnrc
Due: none

fix: commit Env.tsx with placeholder values for CI typecheck/build
  .gitignore
  example/src/Env.tsx
Due: lint, prettier

fix: generate Env.tsx from secrets in CI, re-gitignore local Env.tsx
  .github/workflows/ci.yml
  .gitignore
  example/src/Env.tsx
  src/__tests__/client-modules.test.tsx
  src/__tests__/courier-client.test.tsx
  src/__tests__/courier-shared.test.tsx
  src/__tests__/inbox-action.test.tsx
  src/__tests__/inbox-message.test.tsx
  src/__tests__/index.test.tsx
  src/__tests__/user-preferences.test.tsx
  src/__tests__/utils.test.tsx
Due: lint, prettier

fix: format test files and fix Env.tsx generation in CI
  .github/workflows/ci.yml
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  src/__tests__/client-modules.test.tsx
Due: lint, prettier

fix: remove flaky native build CI jobs and fix dependency issues
  .github/workflows/ci.yml
  .github/workflows/test-status-report.yml
  .gitignore
  example/ios/.xcode.env.local
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  ios/CourierClientModule.swift
  ios/CourierSharedModule.swift
Due: none

chore: bump version to 5.7.0
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

fix: deploy workflow waits for CI to pass before publishing
  .github/workflows/deploy.yml
Due: none

fix: only run CI on pull requests, deploy directly on merge to main
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

fix: use npm trusted publishers (OIDC) instead of NPM_TOKEN
  .github/workflows/deploy.yml
Due: none

fix: publish to npm before tagging to avoid stale tag on failure
  .github/workflows/deploy.yml
Due: none

fix: upgrade npm CLI for OIDC trusted publishing and fix repository field
  .github/workflows/deploy.yml
  package.json
Due: none

fix: remove registry-url from setup-node to avoid overriding OIDC auth
  .github/workflows/deploy.yml
Due: none

fix: set NPM_TOKEN to empty to prevent stale secret from overriding OIDC
  .github/workflows/deploy.yml
Due: none

fix: use Node 20 in deploy workflow (npm 11 requires Node 20.17+)
  .github/workflows/deploy.yml
Due: none

feat: add backgroundColor property to CourierInboxTheme
  Docs/2_Inbox.md
  android/src/main/java/com/courierreactnative/CourierInboxViewManager.kt
  ios/CourierInboxReactNativeManager.swift
  src/models/CourierInboxTheme.tsx
Due: lint, prettier

feat: add React Native New Architecture support (RN 0.83+)
  android/build.gradle
  android/gradle.properties
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  android/src/main/java/com/courierreactnative/CourierPreferencesViewManager.kt
  android/src/main/java/com/courierreactnative/CourierReactNativePackage.kt
  android/src/main/java/com/courierreactnative/CourierSystemModule.kt
  android/src/main/java/com/courierreactnative/ReactNativeModule.kt
  courier-react-native.podspec
  ios/CourierReactNative-Bridging-Header.h
  ios/CourierReactNativeDelegate.h
  ios/CourierReactNativeDelegate.m
  ios/CourierSystemModule.swift
  src/Modules.tsx
Due: lint, prettier

feat: add backgroundColor support to inbox and preferences themes
  android/src/main/java/com/courierreactnative/CourierInboxViewManager.kt
  android/src/main/java/com/courierreactnative/CourierPreferencesViewManager.kt
  example/src/pages/Styles.tsx
  example/src/pages/inbox/InboxStyled.tsx
  example/src/pages/preferences/PreferencesStyled.tsx
  ios/CourierInboxReactNativeManager.swift
  ios/CourierPreferencesReactNativeManager.swift
  src/models/CourierInboxTheme.tsx
  src/models/CourierPreferencesTheme.tsx
Due: lint, prettier

fix: use multiGet/multiSet instead of non-existent getMany/setMany on AsyncStorage
  example/src/AuthPreferences.ts
Due: types, lint, prettier
