Repository trycourier/courier-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: types, lint, prettier

types:
  run: npx tsc --noEmit

lint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

Android support
  android/build.gradle
  android/src/main/java/com/courierreactnative/CourierReactNativeModule.kt
  example/android/app/build.gradle
Due: none

Bump
  android/build.gradle
  courier-react-native.podspec
  example/android/app/build.gradle
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
Due: none

Tenant iOS
  courier-react-native.podspec
  example/ios/Podfile.lock
  example/src/Utils.tsx
  example/src/pages/Auth.tsx
  ios/CourierReactNativeModule.m
  ios/CourierReactNativeModule.swift
  src/index.tsx
Due: lint, prettier

Bump
  package.json
Due: none

Bump
  android/build.gradle
  package.json
Due: none

Bump
  courier-react-native.podspec
  example/ios/Podfile.lock
  package.json
Due: none

Update Authentication.md
  Docs/Authentication.md
Due: none

Init
  android/build.gradle
  deploy.sh
  package-lock.json
  package.json
  release.sh
  scripts/git_release.sh
  scripts/install_homebrew.sh
  scripts/update_version.sh
Due: none

Backup
  courier-react-native.podspec
  example/.detoxrc.js
  example/e2e/jest.config.js
  example/e2e/starter.test.js
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  ios/CourierClientModule.swift
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  ios/CourierReactNativeModule.m
  ios/CourierReactNativeModule.swift
  scripts/hermes_fix.sh
Due: types, lint, prettier

Test init
  example/.detoxrc.js
  example/__tests__/index.test.tsx
  example/babel.config.js
  example/e2e/jest.config.js
  example/e2e/starter.test.js
  example/package.json
  example/yarn.lock
  src/models/CourierInboxListener.tsx
Due: types, lint, prettier

detox is broken
  example/.detoxrc.js
  example/e2e/jest.config.js
  example/e2e/starter.test.js
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/package.json
  example/yarn.lock
Due: types, lint, prettier

Client support
  example/__tests__/index.test.tsx
  example/src/Home.tsx
  example/src/Tests.tsx
  ios/CourierClientModule.swift
  ios/CourierReactNativeModule.m
  ios/CourierReactNativeModule.swift
  ios/Utils.swift
  src/client/BrandClient.tsx
  src/client/ClientModule.tsx
  src/client/CourierClient.tsx
  src/index.tsx
  src/models/CourierBrand.tsx
Due: lint, prettier

Module refactor
  example/src/Tests.tsx
  ios/CourierClientModule.swift
  ios/Utils.swift
  src/Modules.tsx
  src/client/BrandClient.tsx
  src/client/ClientModule.tsx
Due: lint, prettier

Module linking working
  android/build.gradle
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  android/src/main/java/com/courierreactnative/CourierReactNativeModule.kt
  android/src/main/java/com/courierreactnative/CourierReactNativePackage.kt
  android/src/main/java/com/courierreactnative/ReactNativeModule.kt
  android/src/main/java/com/courierreactnative/Utils.kt
  example/android/app/build.gradle
  example/android/build.gradle
Due: none

Token endpoints
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  example/src/Tests.tsx
  src/client/CourierClient.tsx
  src/client/TokenClient.tsx
  src/index.tsx
  src/models/CourierDevice.tsx
Due: lint, prettier

Prefs for android
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  example/src/Tests.tsx
  src/client/CourierClient.tsx
  src/client/InboxClient.tsx
  src/client/PreferenceClient.tsx
  src/index.tsx
  src/models/CourierInboxMessages.tsx
  src/models/CourierUserPreferences.tsx
  src/models/CourierUserPreferencesChannel.tsx
  src/models/CourierUserPreferencesStatus.tsx
  src/models/CourierUserPreferencesTopic.tsx
Due: lint, prettier

All android client routes
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  example/src/Tests.tsx
  src/client/CourierClient.tsx
  src/client/TrackingClient.tsx
  src/index.tsx
  src/models/CourierTrackingEvent.tsx
Due: lint, prettier

OBJC updates
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  courier-react-native.podspec
  example/ios/Podfile.lock
  example/src/Tests.tsx
  ios/CourierClientModule.swift
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeModule.m
  src/client/InboxClient.tsx
Due: lint, prettier

Polish
  ios/CourierClientModule.swift
  ios/CourierInboxReactNativeManager.swift
  ios/CourierReactNativeModule.swift
  ios/Utils.swift
  src/client/CourierClient.tsx
Due: lint, prettier

Backup
  example/src/Tests.tsx
  example/src/pages/inbox/InboxCustom.tsx
  example/src/pages/inbox/InboxStyled.tsx
  ios/CourierClientModule.swift
  ios/CourierReactNativeModule.m
  ios/CourierSharedModule.swift
  ios/Utils.swift
  src/Broadcaster.tsx
  src/Modules.tsx
  src/client/CourierClient.tsx
  src/index.tsx
  src/models/CourierPushListener.tsx
  src/utils.tsx
Due: lint, prettier

Preferences fix
  example/src/Home.tsx
  example/src/Tests.tsx
  example/src/pages/Preferences.tsx
  example/src/pages/PreferencesStack.tsx
  example/src/pages/Push.tsx
  example/src/pages/inbox/InboxCustom.tsx
  example/src/pages/preferences/PreferencesCustom.tsx
  example/src/pages/preferences/PreferencesDetail.tsx
  ios/CourierReactNativeModule.m
  ios/CourierSharedModule.swift
  ios/CourierSystemModule.swift
  ios/Utils.swift
  src/Broadcaster.tsx
  src/Modules.tsx
  src/client/PreferenceClient.tsx
  src/index.tsx
Due: lint, prettier

Polish
  example/src/Home.tsx
  example/src/Tests.tsx
  example/src/pages/Auth.tsx
  example/src/pages/Push.tsx
  example/src/pages/inbox/InboxCustom.tsx
  example/src/pages/preferences/PreferencesCustom.tsx
  example/src/pages/preferences/PreferencesDetail.tsx
  ios/CourierSystemModule.swift
  src/index.tsx
Due: lint, prettier

Inbox message parse
  src/views/CourierInboxView.tsx
Due: lint, prettier

Inbox message reads working
  example/src/pages/inbox/InboxDefault.tsx
  ios/CourierSharedModule.swift
Due: lint, prettier

Tests
  example/src/Home.tsx
  example/src/IntegrationTests.tsx
  example/src/Tests.tsx
  example/src/Utils.tsx
  example/src/pages/Tests.tsx
  src/index.tsx
Due: lint, prettier

Tests
  example/src/IntegrationTests.tsx
  example/src/pages/Tests.tsx
  src/index.tsx
Due: lint, prettier

Push Listener adjustment
  example/src/Home.tsx
  example/src/IntegrationTests.tsx
  example/src/pages/Tests.tsx
  ios/CourierReactNativeModule.m
  ios/CourierSystemModule.swift
  src/index.tsx
  src/models/CourierPushListener.tsx
Due: lint, prettier

Polish
  src/index.tsx
Due: lint, prettier

Test params
  example/src/IntegrationTests.tsx
  example/src/pages/Tests.tsx
Due: lint, prettier

font
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  android/src/main/java/com/courierreactnative/CourierInboxViewManager.kt
  android/src/main/java/com/courierreactnative/CourierReactNativeModule.kt
  android/src/main/java/com/courierreactnative/CourierReactNativePackage.kt
  android/src/main/java/com/courierreactnative/CourierSharedModule.kt
  android/src/main/java/com/courierreactnative/CourierSystemModule.kt
  android/src/main/java/com/courierreactnative/ReactNativeModule.kt
  example/android/app/src/main/assets/fonts/poppins_regular.otf
  example/src/IntegrationTests.tsx
  example/src/pages/Tests.tsx
  example/src/pages/preferences/PreferencesCustom.tsx
  ios/CourierClientModule.swift
  src/client/PreferenceClient.tsx
Due: lint, prettier

Shared instance and system instance working well
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  android/src/main/java/com/courierreactnative/CourierSharedModule.kt
  android/src/main/java/com/courierreactnative/CourierSystemModule.kt
  android/src/main/java/com/courierreactnative/ReactNativeModule.kt
Due: none

Tests working
  android/src/main/java/com/courierreactnative/CourierSharedModule.kt
  android/src/main/java/com/courierreactnative/CourierSystemModule.kt
  example/src/pages/Tests.tsx
  src/index.tsx
Due: lint, prettier

Documentation
  src/client/BrandClient.tsx
  src/client/InboxClient.tsx
  src/client/PreferenceClient.tsx
  src/client/TokenClient.tsx
  src/client/TrackingClient.tsx
  src/index.tsx
Due: lint, prettier

Docs init
  Docs/Client.md
Due: none

Util update
  src/index.tsx
Due: lint, prettier

Tests working
  deploy.sh
  example/android/app/build.gradle
  example/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example/ios/CourierReactNativeExample/Info.plist
  example/ios/CourierReactNativeExampleTests/Info.plist
  example/ios/CourierService/Info.plist
  example/package-lock.json
  example/package.json
  example/src/IntegrationTests.tsx
  example/src/Utils.tsx
  example/src/pages/Tests.tsx
  example/yarn.lock
  scripts/build_demo_app.sh
Due: lint, prettier

Poke
  example/src/App.tsx
  example/src/Poke.tsx
Due: lint, prettier

Prettier
  example/src/Poke.tsx
Due: lint, prettier

Poke working
  example/src/App.tsx
  example/src/Poke.tsx
  example/src/pages/Auth.tsx
Due: lint, prettier

🚀 4.0.0
  example/src/pages/Auth.tsx
  package-lock.json
  package.json
  scripts/update_version.sh
Due: lint, prettier

Path conditions:
  types: any of: *.{js,ts, jsx, tsx}
  lint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx}
