Repository trycourier/courier-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: types, lint, prettier

types:
  run: npx tsc --noEmit

lint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

chore: bump version to 5.7.1
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

Merge dependency bumps and add theme backgroundColor support (#47)
  android/build.gradle
  android/src/main/java/com/courierreactnative/CourierInboxViewManager.kt
  android/src/main/java/com/courierreactnative/CourierPreferencesViewManager.kt
  android/src/main/java/com/courierreactnative/Utils.kt
  courier-react-native.podspec
  example/src/AuthPreferences.ts
  example/src/pages/Styles.tsx
  example/src/pages/inbox/InboxStyled.tsx
  example/src/pages/preferences/PreferencesStyled.tsx
  ios/CourierInboxReactNativeManager.swift
  ios/CourierPreferencesReactNativeManager.swift
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
  src/models/CourierInboxTheme.tsx
  src/models/CourierPreferencesTheme.tsx
Due: types, lint, prettier

feat: add React Native New Architecture support (Turbo Modules + Fabric interop)
  android/build.gradle
  android/gradle.properties
  android/src/main/java/com/courierreactnative/CourierClientModule.kt
  android/src/main/java/com/courierreactnative/CourierPreferencesViewManager.kt
  android/src/main/java/com/courierreactnative/CourierSystemModule.kt
  android/src/main/java/com/courierreactnative/ReactNativeModule.kt
  src/Modules.tsx
Due: lint, prettier

Bump version to 5.8.0 and update Xcode project settings
  android/src/main/java/com/courierreactnative/Utils.kt
  example-expo-55/ios/CourierExpoExample.xcodeproj/project.pbxproj
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

Cleanup to the delegate for requesting notifications
  example-085/android/app/build.gradle
  example-085/android/app/src/google-services.json
  example-085/android/app/src/main/AndroidManifest.xml
  example-085/android/app/src/main/java/com/courierreactnativeexample/ExampleService.kt
  example-085/android/build.gradle
  example-085/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
  example-085/ios/CourierReactNativeExample/AppDelegate.swift
  example-085/ios/CourierReactNativeExample/CourierDelegate.swift
  example-085/ios/CourierReactNativeExample/CourierReactNativeExample.entitlements
  example-expo-55/android/app/build.gradle
  example-expo-55/android/app/src/google-services.json
  example-expo-55/android/app/src/main/AndroidManifest.xml
  example-expo-55/android/app/src/main/java/com/courierexpoexample/ExampleService.kt
  example-expo-55/android/build.gradle
Due: none

fix: update .nvmrc to Node 22 to fix CI builds
  .nvmrc
Due: none

fix: resolve lint and build CI failures
  example-085/.eslintrc.js
  package.json
  tsconfig.build.json
  tsconfig.json
Due: types, lint, prettier

fix: android build for SDK v6 migration
  Docs/3_PushNotifications.md
  android/build.gradle
  android/src/main/java/com/courierreactnative/CourierSystemModule.kt
  example/android/app/build.gradle
  example/android/app/src/main/java/com/courierreactnativeexample/ExampleService.java
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
Due: none

docs(example): clarify FCM service integration in ExampleService
  example/android/app/src/main/java/com/courierreactnativeexample/ExampleService.java
Due: none

chore: bump package and native agent version to 6.0.0
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

fix: android build for SDK v6 migration (#50)
  Docs/3_PushNotifications.md
  android/build.gradle
  android/src/main/java/com/courierreactnative/CourierSystemModule.kt
  android/src/main/java/com/courierreactnative/Utils.kt
  example-073/android/app/build.gradle
  example-073/android/app/src/main/java/com/courierreactnativeexample/ExampleService.java
  example-073/android/build.gradle
  example-073/android/gradle.properties
  example-073/android/gradle/wrapper/gradle-wrapper.properties
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

fix: add missing iPad app icons to example-085
  example-085/ios/CourierReactNativeExample/Images.xcassets/AppIcon.appiconset/Contents.json
  example-085/ios/CourierReactNativeExample/Images.xcassets/AppIcon.appiconset/app-icon-152.png
  example-085/ios/CourierReactNativeExample/Images.xcassets/AppIcon.appiconset/app-icon-167.png
  example-085/ios/CourierReactNativeExample/Images.xcassets/AppIcon.appiconset/app-icon-20.png
  example-085/ios/CourierReactNativeExample/Images.xcassets/AppIcon.appiconset/app-icon-29.png
  example-085/ios/CourierReactNativeExample/Images.xcassets/AppIcon.appiconset/app-icon-76.png
Due: none

docs(example): add FCM integration comments to ExampleService and bump iOS build to 51
  example-085/android/app/src/main/java/com/courierreactnativeexample/ExampleService.kt
  example-085/ios/CourierReactNativeExample.xcodeproj/project.pbxproj
Due: none

chore(example): clarify ExampleService demo vs. Courier integration comments
  example-085/android/app/src/main/java/com/courierreactnativeexample/ExampleService.kt
Due: none

chore(example): clarify ExampleService demo vs. Courier integration comments (#54)
  example-085/android/app/src/main/java/com/courierreactnativeexample/ExampleService.kt
Due: none

chore: bump to 6.0.2 and align ExampleService with courier-android 6.1.0
  android/src/main/java/com/courierreactnative/Utils.kt
  example-085/android/app/build.gradle
  example-085/android/app/src/main/java/com/courierreactnativeexample/ExampleService.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package-lock.json
  package.json
Due: none

docs: slim README and delete legacy Docs/ folder
  Docs/1_Authentication.md
  Docs/2_Inbox.md
  Docs/3_PushNotifications.md
  Docs/4_Preferences.md
  Docs/5_Client.md
  Docs/6_Expo.md
  README.md
Due: none

docs: slim README and delete legacy Docs/ folder (#56)
  Docs/1_Authentication.md
  Docs/2_Inbox.md
  Docs/3_PushNotifications.md
  Docs/4_Preferences.md
  Docs/5_Client.md
  Docs/6_Expo.md
  README.md
Due: none

chore: bump SDK version to 6.0.3
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package.json
Due: none

chore: bump SDK version to 6.0.3 (#58)
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
  package.json
Due: none

chore: update homepage to courier.com and bump to 6.0.4
  package.json
Due: none

chore: update homepage to courier.com and bump to 6.0.4 (#61)
  package.json
Due: none

chore: update copyright year to 2026
  LICENSE
Due: none

feat(inbox): type trackingIds and add clickTrackingId for SDK parity
  src/__tests__/inbox-message.test.tsx
  src/index.tsx
  src/models/InboxMessage.tsx
Due: lint, prettier

feat: expose markAsClicked on InboxAction
  src/models/InboxAction.tsx
Due: lint, prettier

chore: bump to 5.6.18
  package.json
Due: none

feat: expose markAsClicked on InboxAction (#65)
  package.json
  src/models/InboxAction.tsx
Due: lint, prettier

feat: re-land markAsClicked on InboxAction and bump to 6.0.5
  package.json
  src/__tests__/inbox-action.test.tsx
  src/models/InboxAction.tsx
Due: lint, prettier

feat: re-land markAsClicked on InboxAction and bump to 6.0.5 (#67)
  package.json
  src/__tests__/inbox-action.test.tsx
  src/models/InboxAction.tsx
Due: lint, prettier

fix(client): pass connectionId through instead of clientKey
  src/__tests__/courier-client.test.tsx
  src/client/CourierClient.tsx
Due: lint, prettier

fix(client): pass connectionId through instead of clientKey (#69)
  src/__tests__/courier-client.test.tsx
  src/client/CourierClient.tsx
Due: lint, prettier

ci(deploy): use .nvmrc Node and pin npm 11
  .github/workflows/deploy.yml
Due: none

fix(ios): let putUserToken build the default device
  ios/CourierClientModule.swift
Due: none

chore: report agent version 6.0.5
  android/src/main/java/com/courierreactnative/Utils.kt
  ios/CourierReactNativeDelegate.m
  ios/CourierReactNativeEventEmitter.swift
Due: none

Path conditions:
  types: any of: *.{js,ts, jsx, tsx}
  lint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx}
